<div class="top-header">
    <div class="grid grid-pad header-container">
        <div class="col-1-1">
            <h1><span class="big">Unotes</span> <br /> Compartilhando conhecimento</h1>
        </div>
        <div class="col-1-1 call-to-action">
            <h2>Lançamento apenas para estudantes da UFRN</h2>

            <form>
                <input type="email" class="" placeholder="insira seu email aqui"></input>
                <input type="submit" class="" value="Cadastrar"></input>
            </form>
        </div>
    </div>
</div>

<div class="features">
    <div class="grid grid-pad">
        <h2>Com o Unotes você poderá...</h2>

        <hr /> <br />

        <div class="grid grid-pad">
            <div class="col-4-12">
                <div class="box">
                    <img src="http://lorempixel.com/180/180/" width="180" height="180">
                    <h3>Descobrir conteúdo das aulas</h3>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.."</p>
                </div>
            </div>

            <div class="col-4-12">
                <div class="box ">
                    <img src="http://lorempixel.com/181/181/" width="181" height="181">
                    <h3>Discutir suas avaliações</h3>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam..."</p>
                </div>
            </div>

            <div class="col-4-12">
                <div class="box ">
                    <img src="http://lorempixel.com/181/180/" width="181" height="181">
                    <h3>Compartilhar seu aprendizado</h3>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam..."</p>
                </div>
            </div>
        </div>
    </div>
        <% if current_user   %>
            <a class="btn btn-large" <%=link_to 'Logout', destroy_user_session_path, method: :delete%> >  </a>
        <% else %>
    	   <a class="btn btn-large" href="/users/sign_in">Login </a>
        <% end %>
</div>




    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    Google Analytics: change UA-XXXXX-X to be your site's ID. 
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
        -->
</body>
</html>
