.pastas {
	background: #eee;
	margin: 20px 0
}

.pastas h2 {
	background: #ddd;
	padding: 12px;
	margin: 0;
}

.notas {
	margin: 10px;
	border: 1px solid #aaa;
	padding: 0 15px;
}

.menu li {
	padding: 10px;
	background: rgb(220,220,200);
}
